@import url("https://fonts.googleapis.com/css?family=Antic+Didone&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Antic Didone", serif;
}

html {
  scroll-behavior: smooth;
}

.grid-col {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-row {
  grid-template-rows: repeat(12, 1fr);
}
.grid-child {
  max-width: 100%;
  max-height: 100%;
}

section {
  min-height: 50vh;
}
