$lightWhite: #f4f4f2;
$grey: #e8e8e8;
$darkGrey: rgb(127, 140, 141);
$black: #000000;
$white: #ffffff;
$yellow: #f1c40f;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $lightWhite;
}

/* Styling the scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(127, 140, 141, 0.3);
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: $darkGrey;
  border: none;
  border-radius: 5px;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $grey;
  box-shadow: 0px 0px 10px $darkGrey;
  .thumbnail {
    width: 40px;
    background-color: $yellow;
    border-radius: 50%;
    overflow: hidden;
    cursor: grab;
    .tooltip {
      visibility: hidden;
      background-color: $yellow;
      color: $black;
      text-align: center;
      border-radius: 0 5px 5px 5px;
      box-shadow: 0px 5px 10px $darkGrey;
      padding: 5px 10px;
      position: absolute;
      top: 50px;
      left: 50px;
      z-index: 1;
      transition: visibility 1s;
    }
  }
  .thumbnail:hover .tooltip {
    visibility: visible;
  }
  .navlinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    a {
      position: relative;
      color: $darkGrey;
      transition: color 1s;
    }
    a::after {
      content: "";
      display: block;
      height: 10px;
      width: 0;
      background: $yellow;
      position: absolute;
      bottom: 0;
      z-index: -1;
      left: 50%;
      transform: translate(-50%, 25%);
      transition: width ease 1s;
    }
    a:hover {
      color: $black;
      transition: color 0.5s;
    }
    a:hover::after {
      width: 120%;
      transition: ease 0.5s;
    }
  }
}

.footer {
  background-color: $white;
  border-top: 1px solid $grey;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .navigation,
  .social {
    padding: 60px 20px;
    place-self: center;
    span {
      font-weight: bold;
      font-size: 1.1em;
    }
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      a {
        color: $darkGrey;
      }
      a:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
