@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Prata&display=swap");
:root {
  --yellow: #fbd759;
  --carbon: #2f3640;
  --background: #f0f0f0;
  --black: #000000;
  --fontColor: var(--black);
  --fontNegativeColor: white;
  --coral: #ef7057;
  --serif: "Prata", serif;
  --sans-serif: "Poppins", sans-serif;
  --link: var(--coral);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-position: inside;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
}
@media only screen and (min-width: 750px) {
  body {
    font-size: 18px;
  }
}

a {
  color: var(--fontColor);
}
a:hover {
  color: var(--link);
}
